<div style="font-family: Arial, Helvetica, sans-serif;">
  <h2>{{titulo}}</h2>
  <p>{{saludo}}</p>
  <p>{{cuerpo}}</p>

  <ul>
    <li><b>Fecha:</b> {{fecha}}</li>
    <li><b>Salón:</b> {{salon}}</li>
    <li><b>Turno:</b> {{turno}}</li>
    {{#if nombre}}
      <li><b>Cliente:</b> {{nombre}}</li>
    {{/if}}
  </ul>

  <p>{{pie}}</p>
</div>

